<launch>
  <!-- Arguments -->


  <!-- Static transform between map and camera odom frame -->
  <node pkg="tf" type="static_transform_publisher" name="tf_map_cam_robot" args="0 0 0 0 0 0 1 /map /camera_odom_frame  10000">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="tf_footprint_base_robot" args="0 0 0.01 0 0 0 1 /base_link /base_footprint  10000">
  </node>


  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/editedfeatlesswheelodom.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>



  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base_cam.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>
